body,html{
    width: 100%;
    min-width: 1250px;
    position: relative;
    user-select: none;
}
#box{
    background-color: #f2f2f2;
    width: 100%;
    min-width: 1250px;
}
li{ 
    list-style: none;
}
.shadow{
    width: 100%;
    height: 3000px;
    background-color: rgba(0 ,0 , 0, .3);
    position: absolute;
    z-index: 20;
    top: 0;
    left:0;
    display: none;
}
.login{
    width: 380px;
    height: 352px;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 21;
    display: none;
    padding: 5px;
}
.login-con{
    width: 370px;
    height: 342px;
    background-color: #fff;
}
.login-con .lg-re{
    width: 330px;
    height: 41px;
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}
.login-con .lg{
    float: left;
    width: 165px;
    height: 24px;
    color: #f60;
    font-weight: bold;
    border-right: 1px solid #ddd;
}
.login-con .re{
    width: 164px;
    float: left;
    position: relative;
}
.login-con .re:hover{
    color: #f60;
}
.login-con .cancel{
    color: #aaa;
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
}
.login-con .cancel:hover{
    color: #333;
}
.login-con .war{
    width: 328px;
    height: 24px;
    margin: 10px auto 0;
    padding: 2px 10px;
    border: 1px solid #fc6;
    background-color: #fffff0;
    position: relative;
    color: #222;
    font-size: 12px;
    padding-left: 35px;
    line-height: 18px;
}
.login-con .war i{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/pic3.png) -108px -41px no-repeat;
    left: 10px;
    top: 3px;
}
.login-con .name-box{
    position: relative;
}
.login-con .name-box i{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 20px;
    background: url(../images/pic3.png) -67px 0px no-repeat;
}
.login-con .pass-box{
    position: relative;
}
.login-con .pass-box i{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 20px;
    background: url(../images/pic3.png) 0 -67px no-repeat;
}
.login-con #username{
    display: block;
    margin: 5px auto 20px;
    width: 328px;
    height: 36px;
    padding: 0 32px 0 36px;
    outline: none;
}
.login-con #userpass{
    display: block;
    margin: 5px auto 20px;
    width: 328px;
    height: 36px;
    padding: 0 32px 0 36px;
    outline: none;
}
.login-con .msg-box{
    width: 330px;
    height: 35px;
    text-align: left;
    line-height: 35px;
    padding: 0px;
}
.login-con .msg-box input{
    float: left;
    margin-top: 11px;
    margin-right: 5px;
}
.login-con .msg-box label{
    font-size: 12px;
}
.login-con .msg-box span{
    float: right;
}
#login-btn{
    font-size: 20px;
    color: #fff;
    background-color: #f60;
    width: 330px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    font-weight: 700px;
    outline: none;
}
.register{
    width: 380px;
    height: 441px;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 22;
    display: none;
    padding: 5px;
}
.register .reg-con{
    height: 431px;
}
.register .re{
    color: #f60;
    font-weight: 700;
}
.register .lg{
    color: #000;
    font-weight: normal;
}
.register .phone-box{
    width: 330px;
    height: 40px;
    margin: 10px auto 30px;
    line-height: 35px;
    border: 1px solid #ccc;
    padding: 2px 0;
}
.register .phone-box label{
    text-align: center;
    width: 76px;
    height: 38px;
    color: #222;
    font-size: 12px;
    font-weight: normal;
}
.register .phone-box input{
    border: none;
    height: 30px;
    width: 241px;
    font-size: 12px;
    outline: none;
}
.register .check-box{
    width: 330px;
    height: 40px;
    margin: 0 auto 30px;
    line-height: 35px;
    border: 1px solid #ccc;
}
.register .check-box label{
    text-align: center;
    width: 76px;
    height: 38px;
    color: #222;
    font-size: 12px;
    font-weight: normal;
}
.register .check-box input{
    border: none;
    height: 30px;
    width: 140px;
    font-size: 12px;
    outline: none;
}
.register .check-box .get-check-code{
    width: 102px;
    height: 38px;
    float: right;
    border-left: 1px solid #bbb;
    font-size: 14px;
}
.register .check-box .get-check-code:hover{
    color: #f60;
}
.register .set-pass-box{
    width: 330px;
    height: 40px;
    margin: 0 auto;
    line-height: 35px;
    border: 1px solid #ccc;
}
.register .set-pass-box label{
    text-align: center;
    width: 76px;
    height: 38px;
    color: #222;
    font-size: 12px;
    font-weight: normal;
}
.register .set-pass-box input{
    border: none;
    height: 30px;
    width: 241px;
    font-size: 12px;
    outline: none;
}
.register #agree{
    margin-top: 2px;
    cursor: pointer;
}
.register #agreeMsg{
    line-height: 18px;
    margin-top: 20px;
}
.register #reg-btn{ 
    font-size: 20px;
    color: #fff;
    background-color: #f60;
    width: 330px;
    height: 40px;
    display: block;
    margin: 30px auto 0;
    border: none;
    border-radius: 2px;
    font-weight: 700px;
    outline: none;
}
/* nav */
#nav{
    width: 100%;
    height: 36px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
#nav .nav-con{
    width: 1190px;
    margin: 0 auto;
    height: 36px;
    /* line-height: 36px; */
    font-size: 12px;
    position: relative;
}
#nav .nav-con li{
    float: left;
    cursor: pointer;
    position: relative;
}
#nav .nav-con ul{
    width: 323px;
    height: 36px;
    float: left;
}
#nav .nav-con ul li{
    width: 78px;
    line-height: 36px;
}
#nav .nav-con ul li a{
    color: black;
}
#nav .nav-con ul li a:hover{
    color: #f60;
}
#nav .nav-con  li:hover{
    color: #f60;
}
#nav .nav-con .car{
    height: 36px;
    position: relative;
    z-index: 6;
    top: 0;
    left: 0;
    color: #f60;
}
#nav .nav-con .car .car-a{
    position: absolute;
    top: 0;
    left:0;
    width: 70px;
    height: 36px;
    border: 1px solid #d3d3d3;
    border-bottom: 1px solid #fff;
    z-index: 5;
    display: none;
    background-color: #fff;
    color:#f60
}
#nav .nav-con .car:hover .car-a{
    display: block;
}
#nav .nav-con .nav-car{
    width: 250px;
    height: 350px;
    top:35px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    display: none;
    border: 1px solid #d3d3d3;
}
#nav .nav-con .nav-car .car-box{
    margin: auto;
    text-align: center;
    color:#bbb;
    margin-top: 80px;
}
#nav .nav-con .nav-car .img{
    width: 150px;
    height: 96px;
    background: url(../images/pic2.png) 0 -291px;
    margin: 0 auto 20px;
}#nav .nav-con .nav-car .btn-warning{
    margin-top: 10px;
}
#nav .nav-con li .address-icon{
    width: 12px;
    height: 15px;
    display: inline-block;
    background: url(../images/pic.png) -387px -183px;
    margin-right: 5px;
}
#nav .nav-con ol{
    float: right;
    height: 36px;
    width: 650px;
}
#nav .nav-con ol,ul{
    margin: 0;
}
#nav .nav-con ol li{
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}
.nav-login,.nav-register{
    color: #f60;
}
#nav .nav-con .nav-login:hover{
    color:#F20;
}
#nav .nav-con .nav-register:hover{
    color:#F20;
}
/* header */
#header{
    height: 110px;
    background-color: #fff;
    clear: both;
}
#header .header-con{
    width: 1190px;
    margin: 0 auto;
}
#header .header-con img{
    float: left;
}
.header-con .logo{
    width: 190px;
    height: 90px;
}
.header-con .search-div{
    width: 420px;
    height: 40px;
    padding: 9px 10px 9px 10px;
    border: 2px solid #FA0;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}
.header-con .search-div .search-icon{
    float: left;
    position: relative;
    left: 0;
    top: 3px;
    margin-right: 5px;
}
.header-con .search-div .search{
    border: none;
    outline: none;
    font-size: 12px;
    height: 18px;
    width: 370px;
}
.header-con .search-div .search-list{
    width: 98%;
    max-height: 192px;
    background-color: #fff;
    padding: 0 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
.header-con .search-div .search-list li{
    height: 24px;
    color:#666;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    cursor: pointer;
}
.header-con .search-div .search-list li:hover{
    background-color: #efefef;
}
.header-con .search-btn{
    background-color: #f90;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border: none;
    float: left;
    margin-top: 30px;
    outline: none;
    color: white;
    font-weight: bolder;
}

/* pic-bar */
#pic-bar{
    height: 38px;
    background-color: white;
}
#pic-bar .pic-bar-con{
    width: 1190px;
    margin: 0 auto;
}
.pic-bar-con .left{
    width: 190px;
    height: 38px;
    background-color: #f90;
    float: left;
}
.pic-bar-con .left i{
    background: url(../images/pic.png) 0 0;
    float: left;
    margin-left: 9px;
    position: relative;
    right: 0;
}
.pic-bar-con .left p{
    color: white;
    line-height: 39px;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 27px;
}
#pic-bar .pic-bar-con .middle{
    width: 795px;
    height: 38px;
    float: left;
    margin-bottom: 0;
    padding-left: 10px;
}
.pic-bar-con .middle li{
    float: left;
}
.pic-bar-con .middle li a{
    display: block;
    margin: 0 12px;
    line-height: 38px;
    font-size: 15px;
    color: black;
    font-weight: bolder;
}
.pic-bar-con .middle li a:hover{
    color: #f60;
}
.pic-bar-con .right{
    width: 170;
    height: 38px;
    float: right;
}
.pic-bar-con .right img{
    width: 170;
    height: 38px;
}
/* pic */
#pic{
    height: 482px;
    background-color:rgb(47,138,236);
    min-width: 100%;
    clear: both;
}
#pic .pic-con{
    width: 1190px;
    height: 482px;
    margin: 0 auto;
}
#pic .pic-left{
    height: 100%;
    width: 190px;
}
#pic .pic-left li{
    width: 193px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    background-color: rgb(37, 34, 33);
}
#pic .pic-left em{
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d8d8d8;
    margin: 0 3px;
    opacity: .4;
}
#pic .pic-left a{
    color: white;
    font-size: 13px;
    display: inline-block;
}
#pic .pic-left a:hover{
    color: #f60;
}
#pic .pic-middle{
    background-color: green;
    height: 100%;
    width: 830px;
}

#pic .pic-middle .arrow-left {
    width: 50px;
    height: 60px;
    background-color: rgba(12, 12, 12, .5);
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 211px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    display: none;
}

#pic .pic-middle .arrow-right {
    width: 50px;
    height: 60px;
    background-color: rgba(12, 12, 12, .5);
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 211px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    display: none;
}

#pic .pic-middle .swiper-container {
    width: 830px;
    height: 482px;
    overflow: hidden;
}
#pic .pic-middle:hover .arrow-left{
    display: inline-block;
}
#pic .pic-middle:hover .arrow-right{
    display: inline-block;
}
#pic .pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
#pic .swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: url(../images/pic.png) -27px -101px;
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
    padding: 0;
  }
#pic .swiper-active-switch {
    background: url(../images/pic.png) -1px -101px;
  }
#pic .pic-right{
    background-color: white;
    height: 100%;
    width: 170px;
}
#pic .pic-right .top{
    width: 170px;
    height: 170px;
    text-align: center;
}
#pic .pic-right .top .logo{
    width: 52px;
    height: 52px;
    margin: 11px auto 0;
    background: url(../images/pic.png) -93px -23px;
}
#pic .pic-right .top .logo .border{
    width: 52px;
    height: 52px;
    margin-top: 1px;
    display: block;
    background: url(../images/pic.png) -310px -135px;
}
#pic .pic-right .top p{
    width: 170px;
    margin: 8px auto 0;
    /* text-align: center; */
    height: 24px;
    font-size: 12px;
}
#pic .pic-right .top .btn{
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
#pic .pic-right .top .new-register{
    display: inline-block;
    width: 70px;
    height: 22px;
    border: 1px solid #f90;
    line-height: 22px;
    margin: 0 3px;
    color: #ffa114;
    font-size: 12px;
    vertical-align: middle;
}
#pic .pic-right .top .super{
    display: inline-block;
    width: 70px;
    height: 22px;
    background: url(../images/pic.png) -295px -251px;
    margin: 0 3px;
    vertical-align: middle;
}
#pic .pic-right .top .ling{
    width: 170px;
    text-align: center;
    margin: 10px auto 0;
}
#pic .pic-right .top .yunzuan{
    display: inline-block;
    width: 70px;
    height: 18px;
    vertical-align: middle;
    background: url(../images/pic.png) -670px -256px;
    margin-right: 5px;
}
#pic .pic-right .top .quan{
    display: inline-block;
    width: 70px;
    height: 18px;
    vertical-align: middle;
    background: url(../images/pic.png) -670px -288px;
    margin-left: 5px;
}
/* 内容区域 */
#content1{
    margin-top: 20px;
    width: 1190px;
}
.container li{
    background-color: #fff;
    height: 427px;
    cursor: pointer;
}
#content1 li{
    cursor: pointer;
}
/* 第一个 */
#content1 .bqqd{
    background-color: #fff;
    margin-right: 5px;
    width: 390px;
}
#content1 .bqqd .list{
    width: 3000px;
    height: 382px;
    position: relative;
}
#content1 .bqqd .list>li{
    float: left;
}
#content1 .bqqd .title{
    color: #69a88f;
    background-color: #f7faf9;
}
.bqqd .title .border{
    background-color: #69a88f;
}
.bqqd .cont li{
    height: 382px;
    margin-top: -10px;
}
.bqqd .cont{
    cursor: pointer;
    overflow: hidden;
}
.bqqd .cont .bar{
    width: 390px;
    display: block;
    text-align: center;
}
.bqqd .cont .bar img{
    width: 350px;
    height: 150px;
}
.bqqd .cont .tit{
    width: 350px;
    margin: 0 auto;
    height: 21px;
    text-align: center;
    font-size: 18px;
    color: #222;
    margin-top: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.bqqd .cont .msg{
    font-size: 14px;
    height: 40px;
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    margin-bottom: 10px;
}
.bqqd .cont .img img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
}
/* 第二个 */
#content1 .shbl{
    background-color: #FFF;
    margin: 0 5px;
    width: 390px;
}
#content1 .shbl .title{
    color: #ff9902;
    background-color: #fff7eb;
}
#content1 .shbl .title .border{
    background-color: #ff9902;
}
#content1 .shbl .cont .list{
    height: 382px;
    clear: both;
    margin: 0 10px;
    padding-top: 8px;
}
#content1 .shbl .cont .list li{
    width: 185px;
    height: 182px;
    float: left;
    border-color: #f2f2f2;
    border-style: solid;
}
#content1 .shbl .cont .list .item1{
    border-width: 0 1px 1px 0;
}
#content1 .shbl .cont .list .item2{
    border-width: 0 0 1px 0;
}
#content1 .shbl .cont .list .item3{
    border-width: 0 1px 0 0;
}
#content1 .shbl .cont .list .item4{
    border: none;
}
.shbl .cont .list .item2 .tag-box{
    width: 78px;
    height: 22px;
}
.shbl .cont .list li .tag-box{
    width: 64px;
    height: 22px;
}
.shbl .cont .list li .tag-box .tag{
    background-color: #ff9902;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    border-radius: 11px;
    padding-left: 6px;
    line-height: 22px;
    color: white;
    margin: 8px 0 0 14px;
}
.shbl .cont .list li .tag-box .point{
    display: block;
    width: 4px;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 6px;
    top: 9px;
    border-radius: 50%;
}
.shbl .cont .list li .list-title{
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin-left: 16px;
}
.shbl .cont .list li img{
    float: left;
    width: 90px;
    height: 90px;
}
/* 第三个 */
#content1 .phb{
    background-color: #FFF;
    margin-left: 5px;
    width: 390px;
}
#content1 .phb .title{
    color: #cc5f5a;
    background-color: #fdf6f6;
}
.phb .title .border{
    background-color: #cc5f5a;
}
#content1 .phb .cont .list{
    height: 382px;
    clear: both;
    margin: 0 10px;
    padding-top: 8px;
}
#content1 .phb .cont .list li{
    width: 185px;
    height: 182px;
    float: left;
    border-color: #f2f2f2;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
}
#content1 .phb .cont .list .item1{
    border-width: 0 1px 1px 0;
}
#content1 .phb .cont .list .item2{
    border-width: 0 0 1px 0;
}
#content1 .phb .cont .list .item3{
    border-width: 0 1px 0 0;
}
#content1 .phb .cont .list .item4{
    border: none;
}
.phb .cont .list li .title-top{
    font-size: 14px;
    color: #454454;
    display: inline-block;
    width: 153px;
    height: 22px;
}
.phb .cont .list li .title-top .renqi{
    display: inline-block;
    padding: 0 5px;
    margin-left: 3px;
    background-color: #fae0e0;
    color:#cc5f5a;
    height: 18px;
    border-radius: 37px;
    line-height: 18px;
    font-size: 12px;
}
.phb .cont .list li .title-bottom{
    text-align: left;
    padding-left: 15px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}
.phb .cont .list li em{
    display: block;
    width: 10px;
    height: 14px;
    background: url("../images/pic.png") -852px 0;
    line-height: 16;
    float: left;
    margin-right: 5px;
}
.phb .cont .list li img{
    float: left;
    width: 90px;
    height: 90px;
}
/* 第四个 */
#content1 .lqzx{
    background-color: #FFF;
    margin-right: 5px;
    width: 390px;
    margin-top: 20px;
}
#content1 .lqzx .title{
    color: #ef711e;
    background-color: #fef8f4;
}
.lqzx .title .border{
    background-color: #ef711e;
}
.lqzx ul{
    margin-top: 12px;
}
.lqzx ul .quan{
    background: url("../images/content1/4/quan-bg.png") no-repeat;
    width: 350px;
    height: 109px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.lqzx ul .quan img{
    width: 90px;
    height: 90px;
    margin: 10px 0 0 10px;
    float: left;
}
.lqzx ul .quan-box{
    width: 180px;
    height: 59px;
    float: left;
    margin: 26px 0 0 12px;
}
.lqzx ul .quan .price{
    font-size: 22px;
    color: #ef711e;
    height: 31px;
    line-height: 31px;
    float: left;
    font-weight: bold;
    margin: 0;
}
.lqzx ul .quan .price span{
    font-size: 12px;
}
.lqzx ul .quan .rule{
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ef711e;
    line-height: 16px;
    font-size: 12px;
}
.lqzx ul .quan .rule1{
    margin: 10px 0 0 14px;
    float: left;
    max-width: 110px;
}
.lqzx ul .quan .rule2{
    margin: 12px 0 0 0;
    float: left;
    width: 160px;
}
.lqzx ul .quan .get{
    width: 50px;
    height: 109px;
    float: right;
    display: flex;
}
.lqzx ul .quan .get span{
    width: 14px;
    height: 76px;
    display: inline-block;
    margin: auto;
    color: white;
}
/* 第五个 */
#content1 .outlet{
    background-color: #FFF;
    margin: 0 5px;
    width: 390px;
    margin-top: 20px;
}
#content1 .outlet ul{
    clear: both;
    margin: 0 10px;
    padding-top: 8px;
}
#content1 .outlet li{
    float: left;
    text-align: center;
    width: 185px;
    height: 181px;
    border-color: #f2f2f2;
    border-style: solid;
}

#content1 .outlet .cont .list .item1{
    border-width: 0 1px 1px 0;
}
#content1 .outlet .cont .list .item2{
    border-width: 0 0 1px 0;
}
#content1 .outlet .cont .list .item3{
    border-width: 0 1px 0 0;
}
#content1 .outlet .cont .list .item4{
    border: none;
}
#content1 .outlet .title-top{
    width: 170px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    font-size: 14px;
    color: #222;
}
#content1 .outlet .title-bottom{
    width: 170px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    margin: 0 auto;
    font-size: 12px;
    color: #dd5352;
    margin-top: 6px;
}
.outlet li img{
    width: 110px;
    height: 110px;
}
#content1 .outlet .title{
    color: #dd5352;
    background-color: #fdf6f6;
}
.outlet .title .border{
    background-color: #dd5352;
}
/* 第六个 */
#content1 .rqhh{
    background-color: #FFF;
    width: 390px;
    margin-left: 5px;
    margin-top: 20px;
}
#content1 .rqhh .title{
    color: #4da5d1;
    background-color: #f7faf9;
}
.rqhh .title .border{
    background-color: #4da5d1;
}
#content1 .rqhh ul{
    clear: both;
    margin: 0 10px;
    padding-top: 8px;
}
#content1 .rqhh li{
    float: left;
    text-align: center;
    width: 185px;
    height: 181px;
    border-color: #f2f2f2;
    border-style: solid;
}

#content1 .rqhh .cont .list .item1{
    border-width: 0 1px 1px 0;
}
#content1 .rqhh .cont .list .item2{
    border-width: 0 0 1px 0;
}
#content1 .rqhh .cont .list .item3{
    border-width: 0 1px 0 0;
}
#content1 .rqhh .cont .list .item4{
    border: none;
}
#content1 .rqhh .title-top{
    width: 170px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    font-size: 14px;
    color: #222;
}
#content1 .rqhh .title-bottom{
    width: 170px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    margin: 0 auto;
    font-size: 12px;
    color: #1498e3;
    margin-top: 6px;
}
.rqhh li img{
    width: 110px;
    height: 110px;
}
/* end部分 */
#end{
    width: 100%;
    height: 52px;
    text-align: center;
    display: flex;
}
.end-con{
    width: 112px;
    height:22px;
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    color:#ccc;
}
.end-con .line-left{
    width: 97px;
    height: 1px;
    position: absolute;
    left: -97px;
    top: 11px;
    background-color: #ccc;
}
.end-con .line-right{
    width: 97px;
    height: 1px;
    position: absolute;
    left: 112px;
    top: 11px;
    background-color: #ccc;
}
/* footer区域 */
#footer{
    width: 100%;
    /* height: 98px; */
}
.footer-cont{
    /* height: 98px; */
    width: 1250px;
    margin: 0 auto;
    padding-left: 30px;
}
.footer-cont ul{
    width: 1250px;
    height: 98px;
    margin: 0;
    display: flex;
}
.footer-cont .list-box{
    width: 250px;
    height: 48px;
    float: left;
    margin: auto;
}
.footer-cont img{
    float: left;
    margin-right: 8px;
}
.footer-cont .list{
    float: left;
}
.footer-cont .list-top{ 
    clear: both;
    height: 24px;
    line-height: 24px;
    color:#333;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.footer-cont .list-top:hover{
    color: #f60;
}
.footer-cont .list-bottom{ 
    clear: both;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color:#545454;
    margin: 0;
}
.footer-cont .foot-server{
    width: 1190px;
    height: 180px;
    border-top: 1px solid #eaeaea;
    clear: both;
}
.footer-cont dl{
    width: 210px;
    height: 160px;
    float: left;
}
.footer-cont dl:last-child{
    width: 90px;
}
.footer-cont dl:last-child a{
    line-height: 18px;
}
.footer-cont dl dt{
    width: 210px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    color:#545454;
}
.footer-cont dl dd a{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    color:#333;
}
.footer-cont dl dd a:hover{
    color:#F60;
}
.msg-box{
    clear: both;
    margin: 0 auto;
    width:100%;
    text-align: center;
    background-color: #fff;
    padding-top:15px;
}
.msg-box p{
    height: 25px;
    line-height: 25px;
    margin: 0;
    font-size: 0;
    color:#999;
}
.msg-box a{
    color:#999;
    font-size: 12px;
}
.msg-box p.deep a{
    color:#666
}
.msg-box span{
    padding: 0 8px;
    font-size: 12px;
}
.msg-box .gwab-box{
    position: relative;
    padding-left: 25px;
}
.msg-box .gwab{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(../images/msg/1.png) 0 0 no-repeat;
}