*{
    margin: 0;
    padding: 0;
    text-decoration: none!important;
}
.clear{
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
}
.title{  
    height: 45px;
    width: 390px;
    line-height: 45px;
    position: relative;
}
.border{
    display: block;
    width: 5px;
    height: 20px;
    float: left;
    margin-top: 12px;
}
.more{
    font-size: 14px;
    color: #999;
    float: right;
    position: relative;
    right: 25px;
    top: 0;

}
.text{
    float: left;
    font-size: 18px ;
    margin-left: 15px;
    font-weight: bolder;
}
i{
    width: 15px;
    height: 15px;
    display: block;
    background: url(../images/pic.png) -561px -36px;
    float: right;
    position:relative;
    right: -5px;
    top: 14px;
}
.cont{
    width: 390px;
    height: 382px;
}
/* 文本溢出省略号显示 */
.text_ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}