em {
    font-style: normal;
}

#car {
    min-height: 300px;
    background-color: #fff;
    text-align: center;
    user-select: none;
    width: 1000px;
}
#car table{
    width: 1000px;
}
#car .btn{
    outline: none;
}
#car table .proName{
    width: 400px;
    text-align: left;
    cursor: pointer;
}
#car table .proName:hover{
    text-decoration: underline!important;
    color: blue;
}
#car h1{
    text-align: center;
}

#car table tr th{
    text-align: center;
    vertical-align: middle;
}
#car table tr th img{
    width: 50px;
}
#car table tr td {
    text-align: center;
    vertical-align: middle;
}
#car tr td:nth-of-type(4) em:first-of-type{
    width: 24px;
    display: inline-block;
}
.nav-register{
    display: none;
}